@charset "utf-8";

.error{

	color:red;
}

.success_message{
	width:99%;
	background-color: green;
	color: #fff;
	padding:10px 0px 10px 10px;
	margin-bottom: 10px;
}

.error_message{
	width:99%;
	background-color: #AB1E1E;
	color: #fff;
	padding:10px 0px 10px 10px;
	margin-bottom: 10px;
}

.user-info{
	float:right;
}
.user-bid{
	float:right;
	margin-top: 10px;
	margin-right: 5px;
}

.navbar-brand > img {
	margin-top:-15px;
	float:left;
	margin-right:20px;
}

.navbar-brand .site-name {
	float:left;
	font-family: 'Bree Serif', serif;
}

.league-title{
	font-family: "Bree serif", serif;
	font-size: 20px;
	color: #B71520;
	padding-left: 15px;
}

.team-title{
	font-family: "Bree serif", serif;
	font-size: 20px;
	color: #B71520;
	padding-left: 15px
}

.small-league-title{
	font-family: "Bree serif", serif;
	font-size: 14px;
	color: #B71520;
	padding-left: 30px;
}


.gameweek-filter{
	margin-right: 100px;

}

.team-standing{
    float: left;
	font-size: 10px;
}
.team-standing label {
    float: left;
}

.coach-info{
	padding: 20px 0px;
}
.user-info .btn-default{
    margin-top: 9px !important;
}

.win-no{
	color: red;
}

.win-yes{
	color: green;
	font-weight: bold;
}

.result-wait{
	font-size: 10px;
	color: green;
	font-weight: normal;
}

.table{
  font-size: 12px !important;
}

.continent{
	margin: 0px auto;
	text-align: center;
	padding-top: 10%;
	font-size: 20px;
}

.nav-pills > li > a {
    border-radius: 4px;
    border: 1px solid;
    text-align: center;
}

.page-title{
  font-family: 'Bree serif', serif;
  font-size: 18px;
  margin-bottom: 20px;
  color:#0083DF;
}

.small-page-title{
	font-family: 'Bree serif', serif;
	font-size: 15px;
	margin-bottom: 20px;
	color:#0083DF;
}

.btn-ds{
	background-color: #dddddd !important;
	color:#8C7777 !important;
	border: 1px solid #dddddd !important;
	border-radius: 3px;
	padding: 5px 10px;
}
