@charset "utf-8";

.error{

	color:red;
}

.success_message{
	background-color: green;
	color: #fff;
	padding:10px 0px 10px 10px;
}

.error_message{
	background-color: red;
	color: #fff;
	padding:10px 0px 10px 10px;
}

.user-info{
	float:right;
}

.navbar-brand > img {
	margin-top:-15px;
	float:left;
	margin-right:20px;
}

.navbar-brand .site-name {
	float:left;
	font-family: 'Bree Serif', serif;
}

.league-title{
	font-family: "Bree serif", serif;
	font-size: 20px;
	color: #B71520;
	padding-left: 15px;
}

.team-title{
	font-family: "Bree serif", serif;
	font-size: 20px;
	color: #B71520;
	padding-left: 15px
}

.small-league-title{
	font-family: "Bree serif", serif;
	font-size: 14px;
	color: #B71520;
	padding-left: 30px;
}


.gameweek-filter{
	margin-right: 100px;

}

.team-standing{
    float: left;
	font-size: 10px;
}
.team-standing label {
    float: left;
}

.coach-info{
	padding: 20px 0px;
}
.user-info .btn-default{
    margin-top: 9px !important;
}